.woomaint_notice {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9000;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

button[disabled]:active, button[disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] ,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover {
  cursor: no-drop;
  background-color: #ddd;
  background: #ddd;
  color: #333;
}



/*------------------------------------------------------------
-------- Modal Lightbox
------------------------------------------------------------*/
/* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
	z-index: 9000;
}

/* Inner */
.popup-inner {
	max-width:800px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}

/*------------------------------------------------------------
-------- Countdown
------------------------------------------------------------*/

div#woomaint_countdown {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	text-align: center;
}

div#woomaint_countdown div {
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

div#woomaint_countdown div span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

div#woomaint_countdown .smalltext{
	padding-top: 5px;
	font-size: 16px;
}